[submodule "source/external/dr_libs"]
	path = source/external/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "source/external/dr_graphics"]
	path = source/external/dr_graphics
	url = https://github.com/dr-soft/dr_graphics
[submodule "source/external/stb"]
	path = source/external/stb
	url = https://github.com/nothings/stb
[submodule "source/external/glm"]
	path = source/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "source/external/json"]
	path = source/external/json
	url = https://github.com/sheredom/json.h.git
[submodule "source/external/miniaudio"]
	path = source/external/miniaudio
	url = https://github.com/dr-soft/miniaudio.git
[submodule "source/external/miniobj"]
	path = source/external/miniobj
	url = https://github.com/dr-soft/miniobj.git
[submodule "source/external/dr_fs"]
	path = source/external/dr_fs
	url = https://github.com/dr-soft/dr_fs.git
